<div class="relative w-full min-h-full">
    <!-- intestazione -->
    <header>
        <figure id="figure" class="m-0 relative">
            <div class="grid grid-cols-12" id="header">
                <!-- logo del BOT -->
                <img src="../assets/images/MyWordBOT logo.png"
                    class="md:col-span-2 md:col-start-2 col-span-3 self-center justify-self-center" id="BOT_logo">
                <!-- titolo del sito -->
                <img src="../assets/logo/logo.svg" class="w-80 col-span-7 md:col-span-6 self-center justify-self-center"
                    id="main_header">
                <!-- logo di TMM (grande) -->
                <a href="https://www.tuttomeritomio.it/" target="_blank" rel="noopener noreferrer"
                    class=" col-span-2 self-center justify-self-cente hidden md:block">
                    <img src="../assets/images/tmm logo.png" class="" id="TMM_logo_L">
                </a>
                <div class="flex items-center justify-center md:hidden cursor-pointer col-start-11 col-span-2"
                    (click)="mobile_menu = true">
                    <img src="../assets/images/menu.svg" class="h-8">
                </div>
            </div>
        </figure>
    </header>


    <!-- barra delle pagine (sticky) -->
    <div id="navbar" class="sticky grid grid-cols-12">
        <div class="buttons hidden md:flex col-span-8 lg:col-start-2 lg:col-span-7">
            <!-- link "Home page" -->
            <a [routerLink]="['home/']" fragment="home_p"><i class="fas fa-home"></i> Home</a>
            <!-- link "Chi siamo?" -->
            <a [routerLink]="['home/']" fragment="TMM_p"><i class="fas fa-users"></i> Chi siamo?</a>
            <!-- link "Cos'è un BOT?" -->
            <a [routerLink]="['home/']" fragment="BOT_p"><i class="fab fa-telegram-plane"></i> Cos'è un BOT?</a>
        </div>
        <!-- barra di ricerca -->
        <form id="search_bar" class="md:col-start-9 md:col-span-4 col-span-full justify-center"
            style="padding-right: 10px;">
            <input [(ngModel)]="word" type="search" id="search_box" name="word" class="w-4/5" placeholder="Cerca...">
            <button type="submit" id="search_btn" routerLink="word/{{word}}"><i class="fa fa-search"
                    id="search_img"></i></button>
        </form>
    </div>

    <div
        class="p-4 w-full min-h-screen fixed z-50 right-0 top-0 transform-gpu transition-all duration-500 bg-gray-100 {{mobileTranslation()}} ">
        <div class="flex">
            <a class="flex items-center justify-center p-2" href="https://www.tuttomeritomio.it/" target="_blank"
                rel="noopener noreferrer">
                <img src="../assets/images/tmm logo.png" class="object-contain h-12">
            </a>
            <div class="flex items-center justify-center ml-auto p-3 cursor-pointer" (click)="mobile_menu = false">
                <img src="../assets/images/close.svg" class="h-5">
            </div>
        </div>
        <div class="mt-6 flex flex-col">
            <!-- link "Home page" -->
            <a [routerLink]="['home/']" fragment="home_p" (click)="mobile_menu = false"><i class="fas fa-home"></i>
                Home</a>
            <!-- link "Chi siamo?" -->
            <a [routerLink]="['home/']" fragment="TMM_p" (click)="mobile_menu = false"><i class="fas fa-users"></i> Chi
                siamo?</a>
            <!-- link "Cos'è un BOT?" -->
            <a [routerLink]="['home/']" fragment="BOT_p" (click)="mobile_menu = false"><i
                    class="fab fa-telegram-plane"></i> Cos'è un BOT?</a>
        </div>
    </div>

    <div style="padding-bottom: 110px;">
        <router-outlet></router-outlet>
    </div>

    <!-- piè di pagina -->
    <footer class="absolute bottom-0 w-full">
        <div id="footer">
            <!-- logo di TMM (piccolo) -->
            <a href="https://www.tuttomeritomio.it/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/tmm logo.png" id="TMM_logo_S">
            </a>
            <!-- seguici sui social -->
            <div class="row">
                <p id="follow_us">
                    Seguici sui social!
                </p>
                <!-- instagram -->
                <a class="icon" target="_blank" rel="noopener noreferrer"
                    href="https://www.instagram.com/tuttomeritomio/"><i class="fab fa-instagram"></i></a>
                <!-- twitter -->
                <a class="icon" target="_blank" rel="noopener noreferrer"
                    href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fwww.tuttomeritomio.it%2F&linkname=TuttoMeritoMio%20-%20Zero%20ostacoli%20al%20talento&linknote="><i
                        class="fab fa-twitter"></i></a>
                <!-- facebook -->
                <a class="icon" target="_blank" rel="noopener noreferrer"
                    href="https://www.facebook.com/tuttomeritomio"><i class="fab fa-facebook-f"></i></a>
                <!-- whatsapp -->
                <a class="icon" target="_blank" rel="noopener noreferrer"
                    href="https://api.whatsapp.com/send?text=TuttoMeritoMio%20-%20Zero%20ostacoli%20al%20talento%20https%3A%2F%2Fwww.tuttomeritomio.it%2F"><i
                        class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
</div>