<!-- corpo della pagina -->
<div id="center" class="p-12">
    <!-- risultato della ricerca -->
    <div id="search_result">
        <!-- home page -->
        <h1 class="p_title anchor" id="home_p">Home page</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
            illum ex possimus consequatur, provident debitis vitae nemo autem officia dignissimos sed nesciunt,
            exercitationem
            ipsum veniam? Dolorum hic neque quae. Dolore quibusdam omnis aliquid corporis porro, minus ad,
            necessitatibus ea
            consequatur a cum possimus itaque labore, quidem maxime consectetur. Sapiente, exercitationem beatae. Et
            magni sint
            veritatis maiores pariatur eum, numquam provident esse atque optio debitis nihil ducimus dicta,
            molestiae
            aliquam
            consectetur a ullam repudiandae illum ipsa mollitia nostrum laboriosam voluptate ipsam. Sit corporis
            quas
            laborum
            rem.
            Repudiandae tempore illum dicta consequuntur doloremque necessitatibus saepe officia omnis aperiam hic
            assumenda
            magni
            natus dolore, beatae voluptates ratione excepturi velit commodi quasi ut itaque. Quas praesentium
            repellat
            illo
            possimus molestiae earum debitis officia obcaecati fugiat numquam eveniet iure, consequatur rem,
            quisquam
            laborum
            tenetur corporis dignissimos sapiente dolorum impedit repudiandae nulla? Autem omnis qui assumenda
            recusandae.
            Totam,
            libero quidem accusantium voluptates fugit voluptas reprehenderit aliquid sint eos minus architecto
            cupiditate harum
            laborum nemo delectus accusamus recusandae, culpa commodi quasi beatae molestias. Sequi consectetur quis
            consequatur
            magnam praesentium quasi perferendis ipsa, ea officiis facere delectus minus provident harum repellat
            cupiditate eum
            voluptates doloremque eius amet quisquam alias. Atque provident molestias dolor aliquam ducimus. Ea quis
            ut,
            repellat
            cum facilis blanditiis voluptatem. Blanditiis omnis totam repellat? Quod quia deserunt minus debitis
            delectus
            aspernatur, laborum ad. Consequuntur, praesentium illo, quasi aperiam eveniet harum quisquam, fugiat aut
            repellendus
            voluptatum laborum et ipsa error suscipit in ad! Unde, est quasi qui libero deserunt sunt fugiat laborum
            repellat
            officiis in iste a sapiente inventore ducimus ipsum, esse facere. Perspiciatis at, quas debitis, aperiam
            fugit
            magnam
        </p>
        <hr>

        <!-- #Tutto Merito Mio -->
        <h1 class="p_title anchor" id="TMM_p"><a href="https://www.tuttomeritomio.it/"><i
                    class="far fa-hand-point-right" id="TMM"></i></a> #TuttoMeritoMio</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
            illum ex possimus consequatur, provident debitis vitae nemo autem officia dignissimos sed nesciunt,
            exercitationem
            ipsum veniam? Dolorum hic neque quae. Dolore quibusdam omnis aliquid corporis porro, minus ad,
            necessitatibus ea
            consequatur a cum possimus itaque labore, quidem maxime consectetur. Sapiente, exercitationem beatae. Et
            magni sint
            veritatis maiores pariatur eum, numquam provident esse atque optio debitis nihil ducimus dicta,
            molestiae
            aliquam
            consectetur a ullam repudiandae illum ipsa mollitia nostrum laboriosam voluptate ipsam. Sit corporis
            quas
            laborum
            rem.
        </p>

        <!-- gruppi di lavoro -->
        <h2>I gruppi di lavoro</h2>

        <!-- gruppo 1 -->
        <h3>Gruppo programmazione</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
        </p>
        <!-- gruppo 2 -->
        <h3>Gruppo database</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
        </p>
        <!-- gruppo 3 -->
        <h3>Gruppo traduzione</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
        </p>
        <!-- gruppo 4 -->
        <h3>Gruppo comunicazione</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
            provident
            nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore voluptatibus
            ipsam aut
            fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
            vero id
            soluta
            unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum molestiae
            vero nobis
            exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe dolores a
            tenetur
            voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum sunt.
            Non
            asperiores
            fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
            repudiandae
            nostrum
            ab
        </p>

        <hr>

        <!-- Cos'è un BOT? -->
        <h1 class="p_title anchor" id="BOT_p">Cos'é un BOT?</h1>
        <!-- video n1 -->
        <div class="rowVideo1">
            <p id="p1_video">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
                provident
                nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore
                voluptatibus
                ipsam aut
                fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
                vero
                id soluta
                unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum
                molestiae
                vero nobis
                exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe
                dolores a
                tenetur
                voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum
                sunt. Non
                asperiores
                fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
                repudiandae nostrum
                ab illum ex possimus consequatur, provident debitis vitae nemo autem officia dignissimos sed
                nesciunt,
                exercitationem
                ipsum veniam? Dolorum hic neque quae. Dolore quibusdam omnis aliquid corporis porro, minus ad,
                necessitatibus ea
                consequatur a cum possimus itaque labore, quidem maxime consectetur. Sapiente, exercitationem
                beatae. Et
                magni sint
                veritatis maiores pariatur eum, numquam provident esse atque optio debitis nihil ducimus dicta,
                molestiae
                aliquam
                consectetur a ullam repudiandae illum ipsa mollitia nostrum laboriosam voluptate ipsam. Sit corporis
                quas
                laborum
                rem.
            </p>
            <video src="../../assets/video/2.mp4" class="video m-auto" autoplay controls></video>
        </div>

        <br>

        <!-- video n2 -->
        <div class="rowVideo2">
            <video src="../../assets/video/1.mp4" class="video m-auto" autoplay controls></video>
            <p id="p2_video" class="self-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi, vitae natus dicta autem
                provident
                nostrum, incidunt rem quibusdam molestiae animi maiores! Amet, distinctio est nobis dolore
                voluptatibus
                ipsam aut
                fugiat maxime explicabo eum nihil voluptas magnam iusto cumque nemo qui, ea voluptatem earum officia
                vero
                id soluta
                unde sint. Tempora culpa totam impedit architecto ut recusandae rem, magnam nesciunt natus cum
                molestiae
                vero nobis
                exercitationem mollitia? Officia sunt error eum architecto, nihil perspiciatis eos ipsam saepe
                dolores a
                tenetur
                voluptas rem obcaecati cum qui dolore mollitia commodi animi minima et nam dolor! Quidem, earum
                sunt. Non
                asperiores
                fuga a perspiciatis voluptas? Suscipit illo a beatae recusandae dolorem eveniet asperiores id,
                repudiandae nostrum
                ab illum ex possimus consequatur, provident debitis vitae nemo autem officia dignissimos sed
                nesciunt,
                exercitationem
                ipsum veniam? Dolorum hic neque quae. Dolore quibusdam omnis aliquid corporis porro, minus ad,
                necessitatibus ea
                consequatur a cum possimus itaque labore, quidem maxime consectetur. Sapiente, exercitationem
                beatae. Et
                magni sint
                veritatis maiores pariatur eum, numquam provident esse atque optio debitis nihil ducimus dicta,
                molestiae
                aliquam
                consectetur a ullam repudiandae illum ipsa mollitia nostrum laboriosam voluptate ipsam. Sit corporis
                quas
                laborum
                rem.
            </p>
            <hr>
        </div>
    </div>
</div>